<section>

  <app-header></app-header>
  <div class="d-flex flex-row justify-content-between align-items-center m-4 ">
    
      <div class="w-100 ">
          <div class="d-flex flex-row align-items-end "> 
            <h1 class="text1">Expertise</h1>
            <h3 class="text2">you need.</h3>
          </div>
          <div class="d-flex flex-row align-items-end justify-content-center">  
            <h1 class="text1">Service</h1>
            <h3 class="text2">you deserve! </h3>
            </div>
        </div>
    <div class="imgbox" >
        <img  src="../../assets/images/welcome.jpg">
    </div>

  </div>
  <div class="row m-4 footbox p-2 pt-4 pb-4" >
    <div class="col ">
      <div class="d-flex flex-column ">
        <div>
          <h3>Transfer Money</h3>
        </div>
        <p class="m-0">Sending money around the world is easy. Find out how you can make transfers from Georgia to your loved ones online</p>
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-column">
        <div class="d-flex">
           <i class="fas fa-wallet"></i>
          <h3>Safe Transfer</h3>
        </div>
        <p class="m-0">Sending money around the world is easy. Find out how you can make transfers from Georgia to your loved ones online</p>
      </div>
    </div>
    <div class="col">
      <div class="d-flex  flex-column">
        <div>
          <h3>Real Friendship</h3>
        </div>
        <p class="m-0">In case you wish to speak to our phone
          banking officer for urgent resolution.</p>
      </div>
    </div>
  </div>
  
    

  <!-- <br>
  <br>
  
  <div class="container" style="object-fit: cover;">
    <h2 class="text-centre">Expertise</h2>
    <p class="container" style="font-size: larger;">you need. </p>
  </div>

  <br>

  <div class="container text-white" style="object-fit: cover;">
    <div class="jumbotron bg-cover"
      style="background-image: url('../../assets/images/welcome.jpg');background-repeat: no-repeat;background-size: 1120px 400px;width:1120px; height: 400px;">

    </div>
  </div>

  <br>
  <br> -->


  <!-- Body div container 2 -->
  <!-- <div class="container card-group ">
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Locate Us</h5>
        <p class="card-text">You are never too far away from quick,
          efficient banking services. Locate your nearest branch or an ATM.</p>

      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Call Us</h5>
        <p class="card-text">In case you wish to speak to our phone
          banking officer for urgent resolution.</p>
      </div>
    </div>
    <div class="card">

      <div class="card-body p-5 my-10">
        <h5 class="card-title">Write to Us</h5>
        <p class="card-text">Be it an enquiry, feedback or a simple
          suggestion, write to us & we'll get back to you.</p>
      </div>
    </div>
  </div>
  <br>
  <br> -->
</section>
